html {
    scroll-behavior: smooth;
  }
  
body {
    margin: 0%;
    padding: 0%;
    font-family: Lato,sans-serif ;

    /* background: rgba(0, 0, 0, 0.089); */

    /* background-image: url("../rsc/stucco.png");
    background-repeat: repeat-y; */
}

.bg-wrapper{
    background-image: url("../rsc/perak-bg.jpg");
    background-position: 100% 50%;
    background-size: cover;
    background-attachment: scroll,fixed;
    height: 70vh;
    min-height: 400px;
    /* width: 100vw; */
    font-family: Lato,sans-serif ;
	color: white;

}

.bg-wrapper2{
    background-image: url("../rsc/wallpaperflare.com_wallpaper (5).jpg");
    background-position: 100% 50%;
    background-size: cover;
    background-attachment: scroll,fixed;
    height: 70vh;
    min-height: 400px;
    /* width: 100vw; */
    font-family: Lato,sans-serif ;
	color: white;

}

.bg-shader{
    background: rgba(0, 0, 0, 0.329);
    height: 70vh;
    min-height: 400px;

}
.container1{
    padding: 3%;
    background-color: #f3f3f3;
}

.logo{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 40px;
    /* margin: 8px; */
    /* padding: 14px 16px; */
    color:rgb(255, 255, 255);
    float: left;
    font-size: 12px;
  }
  
ul {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    /* padding: 10px 20px 10px 20px; */
    overflow: hidden;
    /* background-color: rgba(0, 0, 0, 0.459); */
    background-color: black;

    position:fixed;
    width: 100%;
  }

ul a{
text-decoration: none;
}

li {
float: right;
}

li a {
display: block;
color: white;
text-align: center;
padding: 20px 20px;
text-decoration: none;
}

li a:hover {
background-color: white;
color: black;
transition: 300ms;
}

li a:active {
background-color: white;
color: black;

}
    
.st-descp h3{
    font-weight: 500;
}

.sp-line{
    margin-top: 30px;
    margin-bottom: 30px;
    border-bottom: 0.1px solid rgba(168, 163, 163, 0.548);

}

.header-wrapper{
    display: flex;
	justify-content:center;
	-webkit-box-align: stretch;
	-webkit-align-items: stretch;
	-ms-flex-align: stretch;
	align-items:baseline;
    flex-wrap: wrap;

}

.header-main{
    padding-top: 100px;
    color: white;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    /* text-shadow: 3px 3px 5px #666; */
    /* font-family: Lato,sans-serif ; */
    /* padding-top: 80px; */
}

.header-main h1 {
    /* margin-bottom: 0px; */
    margin-top: 100px;
}

.header-main h3{
    margin-top: 15px;
    margin-bottom: 15px;
}


.header-main h5{
    margin-top: 15px;
    margin-bottom: 15px;
}

.split{
    display: flex;
	justify-content:center;
	-webkit-box-align: stretch;
	-webkit-align-items: stretch;
	-ms-flex-align: stretch;
	align-items:stretch;
    flex-wrap: wrap;
}

.att-wrapper{
    padding: 15px 20px 15px 20px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
    border: solid 1px #f0eded;
    background-color: rgb(255, 255, 255);
    flex-basis: 40%;
    margin: 10px;
}

.att-dur{
    font-weight: 500;
    color: rgba(0,0,0,.8);

}

.att-descp{
    color: rgba(0,0,0,.87);

}

.att-viewBtn{
    padding: 0px;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    
}

.att-viewBtn:hover{
    cursor: pointer;
    text-decoration: underline;

}