body {
    margin: 0%;
    padding: 0%;
    font-family: Lato,sans-serif ;

    /* background: rgba(0, 0, 0, 0.089); */

    /* background-image: url("../rsc/stucco.png");
    background-repeat: repeat-y; */
}

.bg-wrapper{
    background-image: url("../rsc/wallpaperflare.com_wallpaper (5).jpg");
    background-position: 100% 50%;
    background-size: cover;
    background-attachment: scroll,fixed;
    height: 70vh;
    min-height: 400px;
    /* width: 100vw; */
    font-family: Lato,sans-serif ;
	color: white;

}
.bg-shader{
    background: rgba(0, 0, 0, 0.315);
    height: 70vh;
    min-height: 400px;

}
.container{
    padding: 3%;
}

.logo{
    margin-top: 0px;
    margin-bottom: 0px;
  
    /* margin: 8px; */
    /* padding: 14px 16px; */
    color:rgb(255, 255, 255);
    float: left;
    font-size: 12px;
  }
  
ul {
    list-style-type: none;
    margin: 0;
    /* padding: 10px 20px 10px 20px; */
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.459)
  }

ul a{
text-decoration: none;
}

li {
float: right;
}

li a {
display: block;
color: white;
text-align: center;
padding: 20px 20px;
text-decoration: none;
}

li a:hover {
background-color: white;
color: black;
transition: 300ms;
}

li a:active {
background-color: white;
color: black;

}
    
.sp-line{
    margin-top: 30px;
    border-bottom: 0.1px solid rgba(168, 163, 163, 0.548);

}

.header-main{
    color: white;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    /* text-shadow: 3px 3px 5px #666; */
    /* font-family: Lato,sans-serif ; */
    padding-top: 80px;
}

.header-main h1 {
    margin-bottom: 0px;
}

.header-main h5{
    margin-top: 10px;
    margin-bottom: 0px;
}

.none-header{
    margin:0px;
}

.cr-span{
    margin: 0px;
    text-decoration: none;
    color:mediumblue;
}

.cr-span:hover{
    color: royalblue;
    text-decoration: underline;
}

.mp-wrapper{
    display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	/* -webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center; */
	justify-content:flex-start;
	-webkit-box-align: stretch;
	-webkit-align-items: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
    flex-wrap: nowrap;

}

.mpBtn{
    flex-basis: 20%;
    margin: 10px 10px 10px 10px;
    padding: 40px 10px 35px 10px;
    text-align: center;
    /* border-right: solid; */
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    /* background-color: rgb(255, 255, 255); */
    font-size: large;
    color: black;
    
}

.mpBtn:hover{
    /* margin: 5px 5px 5px 5px; */
    padding-top: 25px;
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    font-size:larger;
    transition: 110ms;
    /* background-color: rgba(0, 0, 0, 0.486); */
    color: rgb(255, 255, 255);
}

.mp-span1{
    margin-top: 10px;
}

.mp-span2{
    font-size:medium;
    margin-top: 10px;
    margin-bottom: 10px;

}

.mp-span3{
    font-size:small;
    /* margin-top: 15px; */
    color: rgba(255, 255, 255, 0);

}

.mpBtn:hover >.mp-span3{
    color: rgb(255, 255, 255);
    transition: 100ms;
    font-size:x-large;

}
